/*.about{
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(212, 210, 212);
    
}*/
.im img{
    width: 500px;
    height: 500px;
   border-radius: 10px;
   
}
.about{
    border-radius: 13px;
    display: flex;
    width: 100%;
}
.txt{
    text-align: center;
    font-size: 20px;
}