.space{
    margin-left: 16px;
    padding: 5px;
}
.space1{
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.space2{
    margin-left: 250px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn1{
border-radius: 40px;
border-width: 2px;
border-color: rgb(15, 11, 11);
margin-left: 150px;
background-color: rgb(60, 190, 8);
font-size: 20px;
margin-top: 30px;
color: white;
}
    
    


body{
    
    background-color: rgba(0,0,0,0.4);
    

}
.one{
    margin-left: 16px;
    margin-top: 12px;
    
}
.two{
    margin-left: 25px;
    margin-top: 12px;
    
    
}
.home{
    padding-left: 150px;
    padding-top: 150px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.hom{
    padding-left: 150px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


.foot1{
    margin-left: 150px;
    margin-right: 60px;
}
.foot{
   margin-top: 10px;
}
.foot2{
    margin-left: 100px;
    margin-right: 60px;

}
.foot3{
    margin-left: 100px;
    margin-right: 60px;
}
.foot4{
    margin-left: 100px;
    margin-right: 60px;
}
.ftimg1{
    width: 30px;
    height: 30px;
    border-radius: 20%;
}
.ftimg2{
    width: 30px;
    height: 30px;
    border-radius: 20%;
}
.ftimg3{
    width: 30px;
    height: 30px;
    border-radius: 20%;
}
.ftimg4{
    width: 30px;
    height: 30px;
    border-radius: 20%;
}
.home1{
    display: flex;
    color: white;
}
.home2{
    display: flex;
    background-color: rgba(207, 137, 7, 0.4);
    border-radius: 5px;
    
}
.space1{
    padding: 12px;
    
    
}
.bn a{
    color: rgb(10, 10, 10);
}
.bn{
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    font-size: 13px;
    color: rgb(139, 51, 51);
}
.butn a{
    color: black;
}
.butn{
    border-radius: 5px;
    padding: 12px;
    margin: 20px;
}
.fot{
    display: flex;
    color: white;
    background-color: black;
}